* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.heading {
    text-align: center;
    font-size: 36px;
    line-height: 46px;
    font-weight: 300;
    color: #000;
    margin-bottom: 66px;
}
body {
    font-family: "Roboto", sans-serif;
}
.container {
    max-width: 1366px;
    margin: 0 auto;
}
.header {
    background: linear-gradient(rgba(152, 195, 232, 0), rgba(235, 243, 251, 1));
    margin-bottom: 46px;
}
.header_img {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    padding-bottom: 115px;
}
.header_img_logo {
    height: 48px;
}
.header_img_contacts {
    width: 34px;
    height: 38px;
}
.header_block {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.header_description{
    width: 50%;
}
.header_description_title {
    font-size: 64px;
    line-height: 74px;
    font-weight: 300;
    color: #1f3f68;
    margin-bottom: 32px;
}
.header_description_text {
    max-width: 425px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #1f3f68;
    margin-bottom: 71px;
}
.header_description_btn {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #fff;
    border: 1px solid #5a98d0;
    background-color: #5a98d0;
    padding: 15px 50px 15px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.header_description_btn:hover {
    transform: scale(1.2);
    background-color: #092448;
    color: #abecf5;
}
.header_description_img{
    width: 50%;
}

/* about */

.about_box_card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 38px;
}
.about_card {
    max-width: 430px;
    box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
    padding-bottom: 46px;
    padding-top: 45px;
    margin-bottom: 35px;
    background-color: #ffffff;
    transition-duration: 0.5s;
}
.about_card:hover {
    transform: scale(1.3);
}
.about_card_img {
    display: flex;
    margin: 0 auto;
    margin-bottom: 53px;
}
.about_card_title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #1f3f68;
    margin-bottom: 15px;
    padding-left: 38px;
    padding-right: 53px;
}
.about_card_text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #1f3f68;
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 29px;
}
.about_card_link {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #5a98d0;
    margin-left: 38px;
    padding-bottom: 5px;
    transition-duration: 0.3s;
}
.about_card_link:hover {
    border-bottom: 3px solid #5a98d0;
}

/* projects */
.projects_text {
    max-width: 898px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #222222;
    margin-bottom: 65px;
}
.projects_house {
    position: relative;
    margin-bottom: 32px;
}
.projects_house_img{
    width: 100%;
}
.projects_house_text {
    position: absolute;
    top: 65px;
    right: 76px;
    font-size: 32px;
    line-height: 46px;
    font-weight: 400;
    color: #ffffff;
}
.projects_card {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 38px;
    margin-bottom: 107px;
}

.projects_sparklite_app_img, .projects_car_img{
    width: 100%;
    position: relative;
}
.projects_sparklite_app, .projects_car{
    position: relative;
}
.projects_heading {
    position: absolute;
    top: 32px;
    left: 38px;
    font-size: 32px;
    line-height: 46px;
    font-weight: 400;
    color: #ffffff;
}

/* footer */
.footer_top {
    background-color: #316099;
}
.footer_bottom{
    background-color: #316099;
}
.footer_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 96px;
}
.footer_description{
    width: 40%;
    padding-left: 113px;
}
.footer_title {
    font-size: 36px;
    line-height: 46px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 32px;
    padding-top: 91px;
}
.footer_text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #ffffff;
}
.footer_btn {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #ffffff;
    padding: 15px 80px;
    border: 1px solid #5a98d0;
    background-color: #5a98d0;
    cursor: pointer;
    margin-top: 165px;
    margin-right: 114px;
    transition-duration: 0.5s;
}
.footer_btn:hover {
    transform: scale(1.2);
    background-color: #092448;
    border: 1px solid #092448;
    color: #abecf5;
}
.footer_line {
    border-bottom: 1px solid #ffffff;
}
.footer_bottom ol {
    display: flex;
    padding-top: 64px;
    padding-left: 113px;
}
.footer_bottom li {
    width: 33%;
    list-style: none;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #ffffff;
    margin-right: 32px;
    margin-bottom: 64px;
}
.footer_copy {
    padding-left: 113px;
    padding-bottom: 38px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #ffffff;
    opacity: 0.4;
}
.footer_item{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #ffffff;
    transition-duration: 0.5s;

}
.footer_item:hover{
    color: #092448;
}
.footer_item span{
    display: block;
}


@media (max-width: 1260px){
    .header, .about, .projects{
        padding: 0 32px;
    }
}

@media (max-width: 860px){
    .footer_btn{
        padding: 5px 30px 5px 30px;
    }
    .footer_bottom ol{
        display: block;
    }
    .footer_bottom li{
        margin-bottom: 25px;
    }
    .footer_copy{
        padding-top: 64px;
    }
}

@media (max-width: 767px){
    .header_img{
        padding-bottom: 36px;
    }
    .header_description_img{
        display: none;
    }
    .header_block{
        padding-bottom: 41px;
    }
    .header_description{
        width: 100%;
        justify-content: center;
    }
    .header_description_title{
        text-align: center;
        font-size: 32px;
        line-height: 37px;
        font-weight: 300;
        color: #1F3F68;
        margin-bottom: 12px;
    }
    .header_description_text{
        text-align: center;
        margin-bottom: 32px;
    }
    .header_description_btn{
        display: flex;
        margin: 0 auto;
        margin-bottom: 41px;
    }
    .heading{
        font-size: 24px;
        line-height: 28px;
        font-weight: 300;
        color: #000;
    }
    .projects_house_text{
        top: 16px;
        right: 16px;
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
    }
    .projects_house{
        margin-bottom: 16px;
    }
    .projects_card{
        gap: 16px;
        margin-bottom: 64px;
    }
    .projects_heading{
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
    }
    .footer_block{
        display: block;
        padding: 0;
    }
    .footer_description{
        width: 90%;
        display: block;
        padding: 0 15px 0 15px;
        text-align: center;
    }
    .footer_title{
        font-size: 24px;
        line-height: 28px;
        font-weight: 400;
        padding-top: 18px;
    }
    .footer_button{
        /* width: 100%; */
        text-align: center;
    }
    .footer_btn{
        margin: 40px auto;
    }
    .footer_bottom li{
        width: 100%;
    }
    .footer_bottom ol{
        padding: 32px 0 0 16px;
    }
    .footer_copy{
        padding-top: 37px;
        padding-bottom: 13px;
        text-align: center;
        padding-left: 0;
    }
}